<!DOCTYPE html>
<html>
<head>
	<title>Home Page</title>
	 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
</head>
<body>
<div class="container">
	<h1>Are you sure?</h1>
	<form action="/remove" method="post">
		{% csrf_token %}
		<input type="hidden" name="uid" value="{{ id }}">
		<input type="submit" name="submit" class="btn btn-primary" value="Yes">
	</form>
	<p><a href="/dashboard"><button type="button" class="btn btn-primary">No</button></a></p>
</div>
</body>
</html>